div.header {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: ForestGreen;
    font-family: desdemona;
    font-size: 100 px;
}
div.info {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25%;
    width: 60%;
}
div.clients {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.text {
    background-color: #CAB2D9;
    font-family: Roboto, Tahoma, sans-serif;

}
