div.header {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
div.info {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
div.clients {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.text {
    background-color: #7D02C9;
    font-family: Roboto, "Times New Roman", sans-serif;

}
h1 {
+ color: ForestGreen;
+ font-family: desdemona;
+ font-size: 50 px;
}